@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');






:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#6ce1f3;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(134, 222, 236);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  
}

*{
    font-family: 'Readex Pro', sans-serif;
    line-height: 1em;
    box-sizing: border-box;
    color: var(--mainTextColor);
   
}

body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 48px;
    line-height: 1em;
    /* color:  */
}

#profile-pic{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover i:hover{
    font-weight: 100;
    color: var( --mainLinkColor-dark);
    font-size: 1.5em;
    
}

#qualifications--list{
    list-style: none;    
}



#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}
#wrapper--education__items{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    font-size: 0.9em;
}

#sands--list {
    display: block; 
    font-size: .9em;
   
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

.card--education{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);
    transition: 0.3s;
}

.card--project a:hover{
    color: rgb(30, 190,214);

}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 5px;
}
.soft--skills {
    
    background-color: var(--mainLinkColor-light);
    color: var(--mainBgColor-dark);
    border-radius: 5px;
    padding: 3px 5px 5px 5px;
    align-items: center;
    
}

@media(max-width: 600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        
    }
    #profile-pic{
    width: 170px;
    height: 170px; 
    object-fit: cover;
    border-radius: 50%; 
}

    

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}





